<div class="container">
    <div class="title">
        <h2 class="pull-left"><%= t ".title" %></h2>
    </div>
    <!--end title-->
    <div class="row">
        <div class="col-md-9 col-sm-8">
            <div class="row">
                <%= render partial: "allow_order_place", collection: @allow_order_places, as: :allow_order_place %>
            </div>
            <!--end row-->
            <a href="listing.html" class="pull-right"><%= t "view_all" %></a>
        </div>
    </div>
</div>
<!--end container-->
