    <div class="container">
        <div class="title">
            <h2 class="center"><%= t ".title" %></h2>
        </div>
        <!--end title-->
        <div class="gallery-carousel">
            <%= render partial: "favorite_place", collection: @top_rating_places, as: :favorite_place %>
        </div>
        <!--end gallery-carousel-->
    </div>
    <!--end container-->
    <div class="bg opacity-30">
        <img src="assets/img/bg-map.jpg" alt="">
    </div>
<!--end block-->
