<div class="container">
    <div class="title">
        <h2><%= t ".title" %></h2>
    </div>
    <div class="row">
        <% if @nearby_places %>
          <%= render partial: "nearby_place", collection: @nearby_places, as: :nearby_place %>
        <% else %>
          <div class="center"><%= t ".no_nearby_places" %></div>
        <% end %>
    </div>
    <!--end row-->
</div>
<!--end container-->
