<div class="container">
        <div class="title">
            <h2 class="pull-left">Recent Accommodations</h2>
        </div>
        <!--end title-->
        <div class="row">
            <div class="col-md-9 col-sm-8">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <a href="detail.html" class="item small">
                            <div class="image">
                                <div class="info">
                                    <figure class="label label-info">Hotel</figure>
                                    <aside>
                                        <h3>Celestial Hotel & Spa</h3>
                                        <figure class="location">Norway</figure>
                                    </aside>
                                </div>
                                <div class="wrapper">
                                    <div class="gallery">
                                        <img src="assets/img/items/01.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <!--end image-->
                            <div class="description">
                                <div class="meta">
                                    <span><i class="fa fa-star"></i>8.9</span>
                                    <span><i class="fa fa-bed"></i>250</span>
                                </div>
                            </div>
                            <!--end description-->
                        </a>
                        <!--end item-->
                    </div>
                    <!--end col-md-3-->
                    <div class="col-md-3 col-sm-6">
                        <a href="detail.html" class="item small">
                            <div class="image">
                                <div class="info">
                                    <figure class="label label-info">Apartment</figure>
                                    <aside>
                                        <h3>Spring Hotel</h3>
                                        <figure class="location">Austria</figure>
                                    </aside>
                                </div>
                                <div class="wrapper">
                                    <div class="gallery">
                                        <img src="assets/img/items/05.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <!--end image-->
                            <div class="description">
                                <div class="meta">
                                    <span><i class="fa fa-star"></i>8.2</span>
                                    <span><i class="fa fa-bed"></i>82</span>
                                </div>
                            </div>
                            <!--end description-->
                        </a>
                        <!--end item-->
                    </div>
                    <!--end col-md-3-->
                    <div class="col-md-3 col-sm-6">
                        <a href="detail.html" class="item small">
                            <div class="image">
                                <div class="info">
                                    <figure class="label label-info">Cottage</figure>
                                    <aside>
                                        <h3>Rose Brook Resort</h3>
                                        <figure class="location">France</figure>
                                    </aside>
                                </div>
                                <div class="wrapper">
                                    <div class="gallery">
                                        <img src="assets/img/items/07.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <!--end image-->
                            <div class="description">
                                <div class="meta">
                                    <span><i class="fa fa-star"></i>9.4</span>
                                    <span><i class="fa fa-bed"></i>348</span>
                                </div>
                            </div>
                            <!--end description-->
                        </a>
                        <!--end item-->
                    </div>
                    <!--end col-md-3-->
                    <div class="col-md-3 col-sm-6">
                        <a href="detail.html" class="item small">
                            <div class="image">
                                <div class="info">
                                    <figure class="label label-info">Hotel</figure>
                                    <aside>
                                        <h3>Secret Angel Hotel</h3>
                                        <figure class="location">Switzerland</figure>
                                    </aside>
                                </div>
                                <div class="wrapper">
                                    <div class="gallery">
                                        <img src="assets/img/items/08.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <!--end image-->
                            <div class="description">
                                <div class="meta">
                                    <span><i class="fa fa-star"></i>9.8</span>
                                    <span><i class="fa fa-bed"></i>37</span>
                                </div>
                            </div>
                            <!--end description-->
                        </a>
                        <!--end item-->
                    </div>
                    <!--end col-md-3-->

                    <div class="col-md-3 col-sm-6">
                        <a href="detail.html" class="item small">
                            <div class="image">
                                <div class="info">
                                    <figure class="label label-info">Hotel</figure>
                                    <aside>
                                        <h3>Mountain Paradise</h3>
                                        <figure class="location">Norway</figure>
                                    </aside>
                                </div>
                                <div class="wrapper">
                                    <div class="gallery">
                                        <img src="assets/img/items/03.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <!--end image-->
                            <div class="description">
                                <div class="meta">
                                    <span><i class="fa fa-star"></i>8.9</span>
                                    <span><i class="fa fa-bed"></i>250</span>
                                </div>
                            </div>
                            <!--end description-->
                        </a>
                        <!--end item-->
                    </div>
                    <!--end col-md-3-->
                    <div class="col-md-3 col-sm-6">
                        <a href="detail.html" class="item small">
                            <div class="image">
                                <div class="info">
                                    <figure class="label label-info">Apartment</figure>
                                    <aside>
                                        <h3>Twin Oaks Resort</h3>
                                        <figure class="location">Austria</figure>
                                    </aside>
                                </div>
                                <div class="wrapper">
                                    <div class="gallery">
                                        <img src="assets/img/items/02.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <!--end image-->
                            <div class="description">
                                <div class="meta">
                                    <span><i class="fa fa-star"></i>8.2</span>
                                    <span><i class="fa fa-bed"></i>82</span>
                                </div>
                            </div>
                            <!--end description-->
                        </a>
                        <!--end item-->
                    </div>
                    <!--end col-md-3-->
                    <div class="col-md-3 col-sm-6">
                        <a href="detail.html" class="item small">
                            <div class="image">
                                <div class="info">
                                    <figure class="label label-info">Cottage</figure>
                                    <aside>
                                        <h3>Sunrise Sanctum</h3>
                                        <figure class="location">France</figure>
                                    </aside>
                                </div>
                                <div class="wrapper">
                                    <div class="gallery">
                                        <img src="assets/img/items/04.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <!--end image-->
                            <div class="description">
                                <div class="meta">
                                    <span><i class="fa fa-star"></i>9.4</span>
                                    <span><i class="fa fa-bed"></i>348</span>
                                </div>
                            </div>
                            <!--end description-->
                        </a>
                        <!--end item-->
                    </div>
                    <!--end col-md-3-->
                    <div class="col-md-3 col-sm-6">
                        <a href="detail.html" class="item small">
                            <div class="image">
                                <div class="info">
                                    <figure class="label label-info">Hotel</figure>
                                    <aside>
                                        <h3>Primal Court Resort</h3>
                                        <figure class="location">Switzerland</figure>
                                    </aside>
                                </div>
                                <div class="wrapper">
                                    <div class="gallery">
                                        <img src="assets/img/items/06.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <!--end image-->
                            <div class="description">
                                <div class="meta">
                                    <span><i class="fa fa-star"></i>9.8</span>
                                    <span><i class="fa fa-bed"></i>37</span>
                                </div>
                            </div>
                            <!--end description-->
                        </a>
                        <!--end item-->
                    </div>
                    <!--end col-md-3-->
                </div>
                <!--end row-->
                <a href="listing.html" class="pull-right">View All</a>
            </div>
            <div class="col-md-3 col-sm-4">
                <a href="#" class="advertising-banner">
                    <img src="assets/img/ad-banner-02.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
    <!--end container-->
