
<div class="container">
    <div class="block">
        <div class="title">
            <h2><%= t ".title" %></h2>
            <div class="row">
                <%= render partial: "review", collection: @reviews, as: :user_rating %>
            </div>
            <!--end row-->
        </div>
        <!--end title-->
        <div class="bg color white"></div>
    </div>
    <!--end container-->
</div>
<!--end block-->
