<div class="container">
    <div class="title">
        <h2>Top Accommodations</h2>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="item big equal-height" data-map-latitude="48.87" data-map-longitude="2.29" data-id="1">
                <div class="item-wrapper">
                    <div class="image">
                        <div class="mark-circle description" data-toggle="tooltip" data-placement="right" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis erat vel quam aliquet hendrerit semper eget elit. Aenean tincidunt ultrices bibendum. Proin nisi erat, iaculis non pulvinar a, scelerisque ut est. "><i class="fa fa-question"></i></div>
                        <div class="mark-circle map" data-toggle="tooltip" data-placement="right" title="Show on map"><i class="fa fa-map-marker"></i></div>
                        <div class="mark-circle top" data-toggle="tooltip" data-placement="right" title="Top accommodation"><i class="fa fa-thumbs-up"></i></div>
                        <a href="detail.html" class="wrapper">
                            <div class="gallery">
                                <img src="assets/img/items/01.jpg" alt="">
                                <img src="#" class="owl-lazy" alt="" data-src="assets/img/items/02.jpg">
                                <img src="#" class="owl-lazy" alt="" data-src="assets/img/items/03.jpg">
                            </div>
                        </a>
                        <div class="owl-navigation"></div>
                        <!--end owl-navigation-->
                    </div>
                    <!--end image-->
                    <div class="description">
                        <div class="meta">
                            <span><i class="fa fa-star"></i>8.9</span>
                            <span><i class="fa fa-bed"></i>365</span>
                        </div>
                        <div class="info">
                            <figure class="label label-info">Hotel</figure>
                            <a href="detail.html"><h3>Spring Hotel</h3></a>
                            <figure class="location">Montenegro</figure>
                        </div>
                    </div>
                    <!--end description-->
                    <div class="map-item">
                        <button class="btn btn-close"><i class="fa fa-close"></i></button>
                        <div class="map-wrapper"></div>
                    </div>
                    <!--end map-item-->
                </div>
            </div>
            <!--end item-->
        </div>
        <!--col-md-3-->
        <div class="col-md-3 col-sm-6">
            <div class="item big equal-height" data-map-latitude="48.87" data-map-longitude="2.29" data-id="2">
                <div class="item-wrapper">
                    <div class="image">
                        <div class="mark-circle description" data-toggle="tooltip" data-placement="right" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis erat vel quam aliquet hendrerit semper eget elit. Aenean tincidunt ultrices bibendum. Proin nisi erat, iaculis non pulvinar a, scelerisque ut est. "><i class="fa fa-question"></i></div>
                        <div class="mark-circle map" data-toggle="tooltip" data-placement="right" title="Show on map"><i class="fa fa-map-marker"></i></div>
                        <div class="mark-circle top" data-toggle="tooltip" data-placement="right" title="Top accommodation"><i class="fa fa-thumbs-up"></i></div>
                        <a href="detail.html" class="wrapper">
                            <div class="gallery">
                                <img src="assets/img/items/02.jpg" alt="">
                                <img src="#" class="owl-lazy" alt="" data-src="assets/img/items/01.jpg">
                                <img src="#" class="owl-lazy" alt="" data-src="assets/img/items/03.jpg">
                            </div>
                        </a>
                        <div class="owl-navigation"></div>
                        <!--end owl-navigation-->
                    </div>
                    <!--end image-->
                    <div class="description">
                        <div class="meta">
                            <span><i class="fa fa-star"></i>9.3</span>
                            <span><i class="fa fa-bed"></i>148</span>
                        </div>
                        <div class="info">
                            <figure class="label label-info">Apartment</figure>
                            <a href="detail.html"><h3>Mountain Paradise</h3></a>
                            <figure class="location">Austria</figure>
                        </div>
                    </div>
                    <!--end description-->
                    <div class="map-item">
                        <button class="btn btn-close"><i class="fa fa-close"></i></button>
                        <div class="map-wrapper"></div>
                    </div>
                    <!--end map-item-->
                </div>
            </div>
            <!--end item-->
        </div>
        <!--end col-md-6-->
        <div class="col-md-3 col-sm-6">
            <div class="item big equal-height" data-map-latitude="48.87" data-map-longitude="2.29" data-id="5">
                <div class="item-wrapper">
                    <div class="image">
                        <div class="mark-circle description" data-toggle="tooltip" data-placement="right" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis erat vel quam aliquet hendrerit semper eget elit. Aenean tincidunt ultrices bibendum. Proin nisi erat, iaculis non pulvinar a, scelerisque ut est. "><i class="fa fa-question"></i></div>
                        <div class="mark-circle map" data-toggle="tooltip" data-placement="right" title="Show on map"><i class="fa fa-map-marker"></i></div>
                        <a href="detail.html" class="wrapper">
                            <div class="gallery">
                                <img src="assets/img/items/05.jpg" alt="">
                                <img src="#" class="owl-lazy" alt="" data-src="assets/img/items/01.jpg">
                                <img src="#" class="owl-lazy" alt="" data-src="assets/img/items/02.jpg">
                            </div>
                        </a>
                        <div class="owl-navigation"></div>
                        <!--end owl-navigation-->
                    </div>
                    <!--end image-->
                    <div class="description">
                        <div class="meta">
                            <span><i class="fa fa-star"></i>9.6</span>
                            <span><i class="fa fa-bed"></i>38</span>
                        </div>
                        <div class="info">
                            <figure class="label label-info">Cottage</figure>
                            <a href="detail.html"><h3>Primal Court Resort</h3></a>
                            <figure class="location">France</figure>
                        </div>
                    </div>
                    <!--end description-->
                    <div class="map-item">
                        <button class="btn btn-close"><i class="fa fa-close"></i></button>
                        <div class="map-wrapper"></div>
                    </div>
                    <!--end map-item-->
                </div>
            </div>
            <!--end item-->
        </div>
        <!--col-md-3-->
        <div class="col-md-3 col-sm-6">
            <div class="item big equal-height" data-map-latitude="48.87" data-map-longitude="2.29" data-id="6">
                <div class="item-wrapper">
                    <div class="image">
                        <div class="mark-circle description" data-toggle="tooltip" data-placement="right" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis erat vel quam aliquet hendrerit semper eget elit. Aenean tincidunt ultrices bibendum. Proin nisi erat, iaculis non pulvinar a, scelerisque ut est. "><i class="fa fa-question"></i></div>
                        <div class="mark-circle map" data-toggle="tooltip" data-placement="right" title="Show on map"><i class="fa fa-map-marker"></i></div>
                        <div class="mark-circle top" data-toggle="tooltip" data-placement="right" title="Top accommodation"><i class="fa fa-thumbs-up"></i></div>
                        <a href="detail.html" class="wrapper">
                            <div class="gallery">
                                <img src="assets/img/items/06.jpg" alt="">
                                <img src="#" class="owl-lazy" alt="" data-src="assets/img/items/04.jpg">
                                <img src="#" class="owl-lazy" alt="" data-src="assets/img/items/03.jpg">
                            </div>
                        </a>
                        <div class="owl-navigation"></div>
                        <!--end owl-navigation-->
                    </div>
                    <!--end image-->
                    <div class="description">
                        <div class="meta">
                            <span><i class="fa fa-star"></i>8.9</span>
                            <span><i class="fa fa-bed"></i>250</span>
                        </div>
                        <div class="info">
                            <figure class="label label-info">Spa & Wellness</figure>
                            <a href="detail.html"><h3>Celestial Hotel & Spa</h3></a>
                            <figure class="location">Norway</figure>
                        </div>
                    </div>
                    <!--end description-->
                    <div class="map-item">
                        <button class="btn btn-close"><i class="fa fa-close"></i></button>
                        <div class="map-wrapper"></div>
                    </div>
                    <!--end map-item-->
                </div>
            </div>
            <!--end item-->
        </div>
        <!--col-md-3-->
    </div>
    <!--end row-->
</div>
<!--end container-->
