<div class="block">
    <%= render "top_places" %>
</div>
<!--end block-->

<div class="block">
    <%= render "recent_places" %>
</div>
<!--end block-->

<div class="block">
    <div class="container">
        <div class="title">
            <h2>Our Picks</h2>
        </div>
        <!--end title-->
        <div class="grid masonry">
            <div class="grid-item">
                <a href="#">
                    <h3>Switzerland</h3>
                    <img src="assets/img/items/pick-01.jpg" alt="">
                </a>
            </div>
            <div class="grid-item">
                <a href="#">
                    <h3>Prague</h3>
                    <img src="assets/img/items/pick-02.jpg" alt="">
                </a>
            </div>
            <div class="grid-item grid-item--width2">
                <a href="#">
                    <h3>Norway</h3>
                    <img src="assets/img/items/pick-03.jpg" alt="">
                </a>
            </div>
            <div class="grid-item grid-item--width2">
                <a href="#">
                    <h3>Machu Picchu</h3>
                    <img src="assets/img/items/pick-04.jpg" alt="">
                </a>
            </div>
            <div class="grid-item">
                <a href="#">
                    <h3>Tuscany</h3>
                    <img src="assets/img/items/pick-05.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
</div>
<!--end block-->

<div class="block">
    <div class="container">
        <div class="title">
            <h2>Favorite Destinations</h2>
        </div>
        <!--end title-->
       <ul class="list-links">
           <li><a href="#">Tenerife<span>23</span></a></li>
           <li><a href="#">Al Madinah<span>12</span></a></li>
           <li><a href="#">Koh Samui<span>76</span></a></li>
           <li><a href="#">Cotswolds<span>52</span></a></li>
           <li><a href="#">Lake District<span>63</span></a></li>
           <li><a href="#">Cornwall<span>15</span></a></li>
           <li><a href="#">Algarve<span>19</span></a></li>
           <li><a href="#">Ibiza<span>90</span></a></li>
           <li><a href="#">New Forest<span>57</span></a></li>
           <li><a href="#">Phuket Province<span>82</span></a></li>
           <li><a href="#">Loch Lomond<span>24</span></a></li>
           <li><a href="#">Gran Canaria<span>23</span></a></li>
           <li><a href="#">Majorca<span>33</span></a></li>
           <li><a href="#">Isle of Wight<span>74</span></a></li>
           <li><a href="#">Jersey<span>51</span></a></li>
           <li><a href="#">Isle of Man<span>23</span></a></li>
           <li><a href="#">Santoríni<span>36</span></a></li>
           <li><a href="#">Mykonos<span>55</span></a></li>
           <li><a href="#">Lanzarote<span>78</span></a></li>
           <li><a href="#">Bali<span>17</span></a></li>
       </ul>
        <!--end list-links-->
    </div>
    <!--end container-->
</div>
<!--end block-->

<div class="container">
    <div class="block">
        <div class="title">
            <h2>Reviews</h2>
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <div class="review-single">
                        <a href="detail.html#reviews"><h3>White Doe Inn</h3></a>
                        <figure class="location">Austria</figure>
                        <div class="rating"><i class="fa fa-star"></i>8.9</div>
                        <p>Donec bibendum at neque pellentesque viverra. Fusce rhoncus elementum commodo.
                            In ac nibh nec turpis finibus eleme
                        </p>
                        <a href="detail.html#reviews" class="link icon">Full Review<i class="arrow_right"></i></a>
                    </div>
                    <!--end review-->
                </div>
                <!--end col-md-3-->
                <div class="col-md-3 col-sm-3">
                    <div class="review-single">
                        <a href="detail.html#reviews"><h3>Mountain Valley Motel</h3></a>
                        <figure class="location">Scotland</figure>
                        <div class="rating"><i class="fa fa-star"></i>9.3</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae odio ac dui
                            fermentum tempus. Phasellus sit amet
                        </p>
                        <a href="detail.html#reviews" class="link icon">Full Review<i class="arrow_right"></i></a>
                    </div>
                    <!--end review-->
                </div>
                <!--end col-md-3-->
                <div class="col-md-3 col-sm-3">
                    <div class="review-single">
                        <a href="detail.html#reviews"><h3>Camp Shoresh</h3></a>
                        <figure class="location">France</figure>
                        <div class="rating"><i class="fa fa-star"></i>9.6</div>
                        <p>Sed posuere nunc sit amet arcu rutrum porttitor. Quisque ut ante lacus. Fusce a
                            lacus fermentum ante iaculis convallis
                        </p>
                        <a href="detail.html#reviews" class="link icon">Full Review<i class="arrow_right"></i></a>
                    </div>
                    <!--end review-->
                </div>
                <!--end col-md-3-->
                <div class="col-md-3 col-sm-3">
                    <div class="review-single">
                        <a href="detail.html#reviews"><h3>Primal Court Resort</h3></a>
                        <figure class="location">Switzerland</figure>
                        <div class="rating"><i class="fa fa-star"></i>9.4</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae odio ac dui fermentum tempus.
                        </p>
                        <a href="detail.html#reviews" class="link icon">Full Review<i class="arrow_right"></i></a>
                    </div>
                    <!--end review-->
                </div>
                <!--end col-md-3-->
            </div>
            <!--end row-->
        </div>
        <!--end title-->
        <div class="bg color white"></div>
    </div>
    <!--end container-->
</div>
<!--end block-->
