*.rbc
capybara-*.html
.rspec
/log
/tmp
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system
/coverage/
/spec/tmp
*.orig
rerun.txt
pickle-email-*.html

# TODO Comment out this rule if you are OK with secrets being uploaded to the repo
config/initializers/secret_token.rb

# Only include if you have production secrets in this file, which is no longer a Rails default
# config/secrets.yml

# dotenv
# TODO Comment out this rule if environment variables can be committed
.env

## Environment normalization:
/.bundle
/vendor/bundle

# these should all be checked in to normalize the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc

/node_modules

# Ignore pow environment settings
.powenv

# Ignore Byebug command history file.
.byebug_history

/test/*
/db/*.sqlite3
config/database.yml
config/application.yml
yarn-error.log

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
/.idea

# Ignore application configuration
/config/application.yml
public/javascripts/en.js
public/javascripts/vi.js
/public/uploads
vendor/assets/bower_resources/*
