<% if object.errors.any? %>
  <div id="error-explanation">
    <div class="error-messages">
      <%= t(".des", error_count: object.errors.size) %>
    </div>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
