<div class="block">
    <form class="marketing-form">
        <div class="row">
            <div class="text-center"><h2>He thong chia se va chi dan am thuc</h2></div>
            <div class="col-md-10 col-md-offset-1">

                <div class="form-group-inline vertical-align-middle no-margin">
                    <div class="form-group">
                        <label>Tỉnh thành:</label>
                        <select class="form-control framed" id="filter-provinces">
                            <option value="">Chọn tỉnh thành</option>
                                <option value="1">Đà Nẵng</option>
                                <option value="2">Quảng Nam</option>
                        </select>
                    </div>
                    <div class="form-group width-50">
                        <input type="email" class="form-control input-dark" name="location" placeholder="Your email">
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="bg color"><%= image_tag "bg-hero" %></div>
</div>
