<div class="container">
    <div class="block">
        <form class="marketing-form">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="form-group-inline vertical-align-middle no-margin">
                        <div class="form-group">
                            <h3 class="font-color-white no-margin"> <%= t "searing_title" %></h3>
                            <p class="font-color-white no-margin"><%= t "searing_description" %></p>
                        </div>
                        <div class="form-group width-50">
                            <input type="email" class="form-control input-dark"
                                name="location" placeholder="<%= t "searing_description" %>">
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="bg color default"></div>
    </div>
</div>
<!--end block-->
