<ul class="links">
    <li class="<%= active_class? orders_path %>"><a href="about-ú.html"><%= t ".manage_order" %></a></li>
    <li><a href="become-an-afiliate.html"><%= t ".saved_places" %></a></li>
    <li><a href="tém-and-conditions.html"><%= t ".manage_places" %></a></li>
    <li><a href="contact-ú.html">Contact Ú</a></li>
</ul>
