$alto: #d7d7d7;
$blue_smoke: #75807D;
$danube: #5488c7;
$dove_gray: #666666;
$gallery: #f0f0f0;
$geyser: #dbe1e8;
$iron: #d6d6d7;
$silver_chalice: #a6a6a6;
$white: #fff;
$picasso-color: #FFEF8F;
$black: black;
$puerto-rico-color: #3CBD9C;
$malibu-color: #88D6F3;
$eastern-blue-color: #158CBA;
$cinnabar-color: #E74C3C;
$eunry-color: #D5A7A7;
$persian-red-color: #C02E2E;
$champagne-color: #FBEED5;
$curious-blue-color: #3498DB;
$link-water-color: #DAE8F2;
$periwinkle-gray-color: #B8D2E5;
$mercury-color: #e2e2e2;
$black-color: #333;
$white-silver-color: #999;
$alabaster-approx-color: #fcfcfc;
$labaster-solid-color: #fafafa;
$silver-color: #cccccc;
$wild-sand-color: #F5F5F5;
$santa-fe-approx-color: #BB7B4A;
$torch-red-color: #f51717;
$java-color: #1bbae1;
$athens-gray-color: #eaedf1;
$guardsman-red: #cc0000;
$peter-river: #3498db;
$green-color: #0f0;
$azure-color: azure;
$black-pearl-approx: #061a24;
$link-water-approx: #d9edf7;
$mint-tulip-approx: #bce8f1;
$alto-approx: #dddddd;
$fern: #55b776;
$boulder: #777777;
$milano-red: #C61508;
$woodsmoke: #161b1e;
$alabaster: #f9f9f9;
$fiord: #394263;
$tundora: #494949;
$mine-shaft: #222222;
$cornflower-blue: #37ABF2;
$tory-blue: #11538C;
$tuna-color: #2F323E;
$scooter-color: #31B0D5;
$eastern-blue-color: #269ABC;
$tall-poppy: #c1272d;
$tundora: #4a4a4a;
$mariner: #2980B9;
$silver-chalice: #aaa;
$whisper-color: #F9F9FC;
$fruit-salad-color: #4CAF50;
$grenadier-color: #E13900;
$apricot-color: #EF8A80;
$gray: #848484;
$pomegranate: #E32910;
$amber: #FFBF00;
$pink: #ffc0c0;
$reef: #B6FF90;
$success-color: #5cb85c;
