<div class="row">
    <%= render "search_bar" %>
    <!--end col-md-3-->
    <div class="col-md-9" id="results">
        <div class="main-content">
            <% if @places.any? %>
                <!--end title-->
                <div class="row">
                    <%= render @places %>
                </div>
                <!--end row-->
                <div class="center">
                    <div class="pagination">
                        <%= will_paginate @places %>
                    </div>
                </div>
                <!--end center-->
            <% else %>
                <div class="center"><strong><%= t ".no_results" %></strong></div>
            <% end %>
        </div>
        <!--end main-content-->
    </div>
    <!--end col-md-9-->
</div>
<!--end row-->
